<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="cloud-scale"></clr-icon>
                <span class="title">Tech Field Day 2019</span>
            </a>
        </div>
        <div class="header-nav">
            <a href="..." class="nav-link"><span class="nav-text">Home</span></a>
        </div>
        <div class="header-actions">
            <a href="https://twitter.com/hashtag/tfd19" class="nav-link nav-icon-text">
                <span class="nav-text"><b>#TFD2019</b></span>
            </a>
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://techfieldday.com/">Tech Field Day</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://vrealize.vmware.com/">vRealize Demo Site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://cloud.vmware.com/">VMware Cloud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https//twitter.com/codydearkland">@CodyDeArkland</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/johnddias">@johnddias</a>
            </li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <div style="text-align:center">
                    <div class="clr-row">
                            <div class="clr-col-12">
                                <a href="https://cloud.vmware.com/cloud-assembly/" class="card clickable">
                                    <div class="card-header"><b>
                                            Welcome to Tech Field Day 2019!
                                            </b>
                                        </div>
                                    <div class="card-block">
                                        <p class="card-text">
                                            <img src="../assets/logo.png" style="height: 150px; margin:20 auto;" />
                                            <br>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            </div>
                <h1>
                    VMware Cloud Automation Services
                </h1>
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="https://cloud.vmware.com/cloud-assembly/" class="card clickable">
                            <div class="card-header">
                                Cloud Assembly
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/ca.svg" style="height: 150px; margin:20 auto;" />
                                    <br>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="https://cloud.vmware.com/service-broker/" class="card clickable">
                            <div class="card-header">
                                Service Broker
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/sb.svg" style="height: 150px; margin:20 auto;" />
                                    <br>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="https://cloud.vmware.com/code-stream/" class="card clickable">
                            <div class="card-header">
                                Code Stream
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/cs.svg" style="height: 150px; margin:20 auto;" />
                                    <br>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>